.switcher {
	position: relative; 
}

.switcher__theme{
	color: var(--logo-color);
	font-size: 10px;
	font-weight: var(--weight-normal);
	text-transform: uppercase;

	position: absolute;
	top: 5px;
    bottom: 0;
    margin: auto -110px;
	height: 10px;

	
}

.switcher__input{
	appearance: none; 
	border-radius:25px;
	background-color: var(--toggle-bg);
	padding: 2px;
	position: absolute;
	top: 0;
    bottom: 0;
    margin: auto -60px;
	height: 24px;
	width: 60px; 
	z-index: 1;
	cursor: pointer;
}

.switcher__input::-webkit-slider-thumb {
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: var(--toggle-shadow)
} 

.switcher__value{
	min-width: 50px;
	text-align: center;
	position: absolute;
	top: 0;
    bottom: 0;
    margin: -27px -55px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	color: var(--logo-color);
	font-size: 10px;
	font-weight: bold;
	z-index: 0;

}  


@media(min-width: 1024px){

}